## Importar Librerias

In [1]:
# modulos de python
import ast
import re
# modulos de terceros
import pandas as pd
from sqlalchemy import create_engine

> Importacion solo de las librerias a utilizar durante el ETL de los datos.

## Cargar datos.

In [2]:
# cargar datos de los creditos
path = '../data/credits.csv'
data_cd = pd.read_csv(path)
data_cd

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862
...,...,...,...
45471,"[{'cast_id': 0, 'character': '', 'credit_id': ...","[{'credit_id': '5894a97d925141426c00818c', 'de...",439050
45472,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...",111109
45473,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de...",67758
45474,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de...",227506
45475,[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",461257

In [3]:
# Evaluar los datos de todas las columnas.
data_cd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45476 entries, 0 to 45475
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cast    45476 non-null  object
 1   crew    45476 non-null  object
 2   id      45476 non-null  int64
dtypes: int64(1), object(2)
memory usage: 1.0+ MB

## Extraer actores

In [4]:
actors = data_cd.copy()

In [5]:
def extraer_nombres_y_id(cadena, pelicula_id):
    # Convertir la cadena a una lista de diccionarios
    lista_dict = ast.literal_eval(cadena)
    # Extraer los nombres y asignarles el id de la película
    nombres = [{'name': d['name'], 'pelicula_id': pelicula_id} for d in lista_dict]
    nombres_filtrados = [d for d in nombres if re.match("^[a-zA-Z\s]*$", d['name'])]
    return nombres_filtrados

In [6]:
# Inicializar una lista para almacenar todos los nombres con sus IDs
lista_nombres_y_ids = []

# Recorrer cada fila en el DataFrame original
for _, fila in actors.iterrows():
    cadena = fila['cast']
    pelicula_id = fila['id']
    # Extraer los nombres y IDs y agregarlos a la lista
    lista_nombres_y_ids.extend(extraer_nombres_y_id(cadena, pelicula_id))

# Convertir la lista de diccionarios a un DataFrame
nombres_df = pd.DataFrame(lista_nombres_y_ids)

# Eliminar duplicados
nombres_df

                     name  pelicula_id
0               Tom Hanks          862
1               Tim Allen          862
2             Don Rickles          862
3              Jim Varney          862
4           Wallace Shawn          862
...                   ...          ...
499097   Iwan Mosschuchin       227506
499098  Nathalie Lissenko       227506
499099       Pavel Pavlov       227506
499100  Aleksandr Chabrov       227506
499101        Vera Orlova       227506

[499102 rows x 2 columns]

## Extraer director

In [7]:
director = data_cd.copy()

In [8]:
# def extraer_directores(cadena, pelicula_id):
#     # Convertir la cadena a una lista de diccionarios
#     lista_dict = ast.literal_eval(cadena)
#     # Extraer los nombres y asignarles el id de la película solo si el job es 'Director'
#     directores = [{'name': d['name'], 'pelicula_id': pelicula_id} for d in lista_dict if d['job'] == 'Director']
#     return directores

def extraer_directores_y_filtrar(cadena, pelicula_id):
    # Convertir la cadena a una lista de diccionarios
    lista_dict = ast.literal_eval(cadena)
    # Extraer los nombres y asignarles el id de la película solo si el job es 'Director'
    directores = [{'name': d['name'], 'pelicula_id': pelicula_id} for d in lista_dict if d['job'] == 'Director']
    # Filtrar nombres con caracteres no alfabéticos
    directores_filtrados = [d for d in directores if re.match("^[a-zA-Z\s]*$", d['name'])]
    return directores_filtrados

In [9]:
# Inicializar una lista para almacenar todos los nombres con sus IDs
lista_directores = []

# Recorrer cada fila en el DataFrame original
for _, fila in director.iterrows():
    cadena = fila['crew']
    pelicula_id = fila['id']
    # Extraer los directores y sus IDs y agregarlos a la lista
    lista_directores.extend(extraer_directores_y_filtrar(cadena, pelicula_id))

# Convertir la lista de diccionarios a un DataFrame
directores_df = pd.DataFrame(lista_directores)

# Eliminar duplicados
directores_df

                   name  pelicula_id
0         John Lasseter          862
1          Joe Johnston         8844
2         Howard Deutch        15602
3       Forest Whitaker        31357
4         Charles Shyer        11862
...                 ...          ...
41546        John Irvin        30840
41547  Hamid Nematollah       439050
41548          Lav Diaz       111109
41549  Yakov Protazanov       227506
41550     Daisy Asquith       461257

[41551 rows x 2 columns]

> carga de los datos de 'credits' y se evalua su informacion para poder proceder con las transformaciones.

## Cargar los datos de 'movies'

In [10]:
# Cargar los datos de las Peliculas.
path = '../data/movies_dataset.csv'
data = pd.read_csv(path, low_memory=False)
data

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

> Una vez cargado los datos se realiza una evaluacion e interpretacion para proceder con la limpueza y estructuracion del conjunto de datos (ETL)

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

## Transformar columna 'id'

In [12]:
# # Transformar los datos de tipo int a str
# data_cd['id'] = data_cd['id'].astype(str)

> Se tomo la decision de hacer un merge de ambos data sets con el fin de facilitar navegacion relacional de los datos entre las columnas, para ello era requerida la transformacion de la columna 'id' en los datos de 'credits' para poder manejar el mismo tipo de datos en ambas columnas y pueda hacerse un merge de ambos dataframes.

## Combinar Dataframes

In [13]:
# combinar datasets
# data = pd.merge(data_movies, data_cd, on='id', how='inner')

In [14]:
# Verificar data combinada
# data

> una vez combinadas las tablas verificamos como ha quedado, analizando la cantidad de filas, columnas, tipo de las mismas, filas, datos nulos para proceder con una limpieza mas profunda.

In [15]:
# identificar valores nulos de cada tabla por orden descendiente.
data.isnull().sum().sort_values(ascending=False)

belongs_to_collection    40972
homepage                 37684
tagline                  25054
overview                   954
poster_path                386
runtime                    263
status                      87
release_date                87
imdb_id                     17
original_language           11
vote_average                 6
vote_count                   6
title                        6
video                        6
spoken_languages             6
revenue                      6
popularity                   5
production_countries         3
production_companies         3
genres                       0
id                           0
adult                        0
budget                       0
original_title               0
dtype: int64

## Eliminar peliculas caracteres especiales

In [16]:
# Crear una función para verificar si el título contiene solo caracteres alfabéticos
def filtrar_titulo(titulo):
    # Verificar si el título contiene solo letras y espacios
    return re.match("^[a-zA-Z\s]*$", titulo) is not None

# Filtrar las filas donde el título de la película es válido
data = data[data['original_title'].apply(filtrar_titulo)]

In [17]:
data

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45460,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,30840,tt0102797,en,Robin Hood,"Yet another version of the classic epic, with ...",...,1991-05-13,0.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Robin Hood,False,5.7,26.0
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

## Verificar y eliminar valores duplicados.

In [18]:
# Verificar los datos duplicados del dataset.
data_d = data[data.duplicated()]

data_d

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
1465,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,105045,tt0111613,de,Das Versprechen,"East-Berlin, 1961, shortly after the erection ...",...,1995-02-16,0.0,115.0,"[{'iso_639_1': 'de', 'name': 'Deutsch'}]",Released,"A love, a hope, a wall.",The Promise,False,5.0,1.0
9327,False,NaN,0,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...",NaN,23305,tt0295682,en,The Warrior,"In feudal India, a warrior (Khan) who renounce...",...,2001-09-23,0.0,86.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}]",Released,NaN,The Warrior,False,6.3,15.0
13375,False,NaN,0,"[{'id': 53, 'name': 'Thriller'}, {'id': 9648, ...",NaN,141971,tt1180333,fi,Blackout,Recovering from a nail gun shot to the head an...,...,2008-12-26,0.0,108.0,"[{'iso_639_1': 'fi', 'name': 'suomi'}]",Released,Which one is the first to return - memory or t...,Blackout,False,6.7,3.0
16764,False,NaN,0,"[{'id': 53, 'name': 'Thriller'}, {'id': 9648, ...",NaN,141971,tt1180333,fi,Blackout,Recovering from a nail gun shot to the head an...,...,2008-12-26,0.0,108.0,"[{'iso_639_1': 'fi', 'name': 'suomi'}]",Released,Which one is the first to return - memory or t...,Blackout,False,6.7,3.0
21165,False,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",NaN,119916,tt0080000,en,The Tempest,"Prospero, the true Duke of Milan is now living...",...,1980-02-27,0.0,123.0,[],Released,NaN,The Tempest,False,0.0,0.0
21854,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 878, 'nam...",NaN,152795,tt1821641,en,The Congress,More than two decades after catapulting to sta...,...,2013-05-16,455815.0,122.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,The Congress,False,6.4,165.0
22151,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 27, 'nam...",http://www.daysofdarknessthemovie.com/,18440,tt0499456,en,Days of Darkness,When a comet strikes Earth and kicks up a clou...,...,2007-01-01,0.0,89.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Days of Darkness,False,5.0,5.0
23044,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,25541,tt1327820,da,Broderskab,Former Danish servicemen Lars and Jimmy are th...,...,2009-10-21,0.0,90.0,"[{'iso_639_1': 'da', 'name': 'Dansk'}]",Released,NaN,Brotherhood,False,7.1,21.0
24844,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",http://www.dealthemovie.com/,11115,tt0446676,en,Deal,As an ex-gambler teaches a hot-shot college ki...,...,2008-01-29,0.0,85.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Deal,False,5.2,22.0
28860,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",NaN,168538,tt0084387,en,Nana,"In Zola's Paris, an ingenue arrives at a tony ...",...,1983-06-13,0.0,92.0,[],Released,NaN,"Nana, the True Key of Pleasure",False,4.7,3.0
29374,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10769, 'n...",NaN,42495,tt0067306,en,King Lear,"King Lear, old and tired, divides his kingdom ...",...,1971-02-04,0.0,137.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Rumored,NaN,King Lear,False,8.0,3.0
38871,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,99080,tt0022537,en,The Viking,"Originally called White Thunder, American prod...",...,1931-06-21,0.0,70.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Actually produced during the Great Newfoundlan...,The Viking,False,0.0,0.0
40276,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,97995,tt0127834,en,Seven Years Bad Luck,"After breaking a mirror in his home, superstit...",...,1921-02-06,0.0,62.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Seven Years Bad Luck,False,5.6,4.0
45265,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,265189,tt2121382,sv,Turist,"While holidaying in the French Alps, a Swedish...",...,2014-08-15,1359497.0,118.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,NaN,Force Majeure,False,6.8,255.0

> Al aplicarsele una mascara a todo el conjunto de datos el dataset arrojo 82 Valores Duplicados en total

In [19]:
# Copia del dataframe para eliminar los duplicados.
data_ = data.copy()
data = data_.drop_duplicates()
data

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45460,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,30840,tt0102797,en,Robin Hood,"Yet another version of the classic epic, with ...",...,1991-05-13,0.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Robin Hood,False,5.7,26.0
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [20]:
# Se Verificanuevamente el estado de los valores duplicados.
data_d = data[data.duplicated()]

data_d

Empty DataFrame
Columns: [adult, belongs_to_collection, budget, genres, homepage, id, imdb_id, original_language, original_title, overview, popularity, poster_path, production_companies, production_countries, release_date, revenue, runtime, spoken_languages, status, tagline, title, video, vote_average, vote_count]
Index: []

[0 rows x 24 columns]

> Al aplicar nuevamente la mascara al dataframe este arrojo 0 datos duplicados.

## Extraer datos de los jsons anidados

In [21]:
# Definir una función para extraer los datos anidados en listas.
def extract_list_str(list_str):
    '''la funcion realiza un casteo de str dependiendo
    de la sintaxis al tipo de estructura que se reconozca 
    para manipularse y retornar datos de la pelicula como str
      '''
    # Manejo de errores.
    try:
        # condicion para verificar que la el contexto del str no sea para una lista vacia.
        if list_str != '[]':

            # Usar el modulo ast para castear la el tipo a la estructura deseada.
            list_ = ast.literal_eval(list_str)
            # unir valores de la lista de js mediante lista comprimida y join.
            return ', '.join([dic['name'] for dic in list_])
        else:
            # Retornar NoData si es una lista vacia.
            return 'NoData'
    except:
        # Retornar NoData si es un valor nulo o existe otro tipo de error.
        return 'NoData'
    

# Definir una función para extraer los datos anidados de .
def extract_json_str(collection):
    '''la funcion realiza un casteo de str dependiendo
    de la sintaxis al tipo de estructura que se reconozca 
    para manipularse y retornar la coleccion de la pelicula como str
      '''
    # Manejo de errores.
    try:
        # Usar el modulo ast para castear la el tipo a la estructura deseada.
        collection_dict = ast.literal_eval(collection)
        # Devolver el valor extraido del diccionario.
        return collection_dict['name']
    except:
        # Retornar NoData si es un valor nulo o existe otro tipo de error.
        return 'NoData'


# Definir una función para extraer los datos anidados de genres.
def extract_director(director):
    '''la funcion realiza un casteo de str dependiendo
    de la sintaxis al tipo de estructura que se reconozca 
    para manipularse y retornar datos de la pelicula como str
      '''
    # Manejo de errores.
    try:
        # condicion para verificar que la el contexto del str no sea para una lista vacia.
        if director != '[]':
            # Usar el modulo ast para castear la el tipo a la estructura deseada.
            list_ = ast.literal_eval(director)
            # For para iterar la lista y encontrar el director entre el crew.
            for i in list_:
                if i['job'] == 'Director':
                    return i['name']
                else:
                    continue
        else:
            # Retornar NoData si es una lista vacia.
            return 'NoData'
    except:
        # Retornar NoData si es un valor nulo o existe otro tipo de error.
        return 'NoData'

# Aplicar las funciones de extracción a las columnas correspondientes
data['genres_clean'] = data['genres'].apply(extract_list_str)
data['collection_clean'] = data['belongs_to_collection'].apply(extract_json_str)
data['production_companies_clean'] = data['production_companies'].apply(extract_list_str)
data['production_countries_clean'] = data['production_countries'].apply(extract_list_str)
data['spoken_languages_clean'] = data['spoken_languages'].apply(extract_list_str)
# Mostrar las primeras filas del dataframe con las nuevas columnas
data

C:\Users\Rhamer\AppData\Local\Temp\ipykernel_26704\1255769643.py:67: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['genres_clean'] = data['genres'].apply(extract_list_str)
C:\Users\Rhamer\AppData\Local\Temp\ipykernel_26704\1255769643.py:68: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['collection_clean'] = data['belongs_to_collection'].apply(extract_json_str)
C:\Users\Rhamer\AppData\Local\Temp\ipykernel_26704\1255769643.py:69: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['production_companies_clean'] = data['production_companies'].apply(extract_list_str)
C:\Users\Rhamer\AppData\Local\Temp\ipykernel_26704\1255769643.py:70: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['production_countries_clean'] = data['production_countries'].apply(extract_list_str)
C:\Users\Rhamer\AppData\Local\Temp\ipykernel_26704\1255769643.py:71: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['spoken_languages_clean'] = data['spoken_languages'].apply(extract_list_str)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,tagline,title,video,vote_average,vote_count,genres_clean,collection_clean,production_companies_clean,production_countries_clean,spoken_languages_clean
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,NaN,Toy Story,False,7.7,5415.0,"Animation, Comedy, Family",Toy Story Collection,Pixar Animation Studios,United States of America,English
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,"Adventure, Fantasy, Family",NoData,"TriStar Pictures, Teitler Film, Interscope Com...",United States of America,"English, Français"
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,"Romance, Comedy",Grumpy Old Men Collection,"Warner Bros., Lancaster Gate",United States of America,English
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,"Comedy, Drama, Romance",NoData,Twentieth Century Fox Film Corporation,United States of America,English
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,Comedy,Father of the Bride Collection,"Sandollar Productions, Touchstone Pictures",United States of America,English
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45460,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,30840,tt0102797,en,Robin Hood,"Yet another version of the classic epic, with ...",...,NaN,Robin Hood,False,5.7,26.0,"Drama, Action, Romance",NoData,"Westdeutscher Rundfunk (WDR), Working Title Fi...","Canada, Germany, United Kingdom, United States...",English
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,NaN,Century of Birthing,False,9.0,3.0,Drama,NoData,Sine Olivia,Philippines,
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,A deadly game of wits.,Betrayal,False,3.8,6.0,"Action, Drama, Thriller",NoData,American World Pictures,United States of America,English
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,NaN,Satan Triumphant,False,0.0,0.0,NoData,NoData,Yermoliev,Russia,NoData
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,NaN,Queerama,False,0.0,0.0,NoData,NoData,NoData,United Kingdom,English

> En este punto tras la evaluacion de los datos se puedo observar que los datos aninados tienen un formato de tipo cadena de texto por lo que requieren un tratamiento previo a la extraccion de los mismos. para ello se ha decidido a crear tres funcionen que interactuen con las filas mediante el metodo 'apply()' que trae consigo la libreria de pandas, estas funciones estan estructurada de la siguiente manera: <br> Las funciones de extract: <br>
recibe el parametro de la columna iterada e inicia con un 'Try-Except' para el manejo de Errores en dado caso de encontrar un valor nulo o cualquier otro error que pueda presentarse, dando como resultado que en consecuencia guardaria un 'NoData' de presentarse uno, caso contrario se correria un bloque de codigo donde se validaria mediante un 'if' que el str recibido no represente una lista vacia, caso contrario con el metodo 'literal_eval()' de la libreria 'ast'  que analiza la sintaxis de un string se hace un casteo automatico segun el texto, para luego poder demanera mas sencilla manipular el dato como una lista o un diccionario iterandolo o extrayendo directamente los datos.

## Eliminar columnas

In [22]:
# Columnas a eliminar.
drop_colums = ['video','poster_path', 'homepage','imdb_id','adult',
               'tagline','original_language', 'belongs_to_collection','genres',
               'production_companies','production_countries','spoken_languages'
            ]
# Eliminar columnas con drop de pandas.
data = data.drop(columns=drop_colums)
data

,budget,id,original_title,overview,popularity,release_date,revenue,runtime,status,title,vote_average,vote_count,genres_clean,collection_clean,production_companies_clean,production_countries_clean,spoken_languages_clean
0,30000000,862,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Released,Toy Story,7.7,5415.0,"Animation, Comedy, Family",Toy Story Collection,Pixar Animation Studios,United States of America,English
1,65000000,8844,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,1995-12-15,262797249.0,104.0,Released,Jumanji,6.9,2413.0,"Adventure, Fantasy, Family",NoData,"TriStar Pictures, Teitler Film, Interscope Com...",United States of America,"English, Français"
2,0,15602,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,1995-12-22,0.0,101.0,Released,Grumpier Old Men,6.5,92.0,"Romance, Comedy",Grumpy Old Men Collection,"Warner Bros., Lancaster Gate",United States of America,English
3,16000000,31357,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,1995-12-22,81452156.0,127.0,Released,Waiting to Exhale,6.1,34.0,"Comedy, Drama, Romance",NoData,Twentieth Century Fox Film Corporation,United States of America,English
4,0,11862,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,1995-02-10,76578911.0,106.0,Released,Father of the Bride Part II,5.7,173.0,Comedy,Father of the Bride Collection,"Sandollar Productions, Touchstone Pictures",United States of America,English
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45460,0,30840,Robin Hood,"Yet another version of the classic epic, with ...",5.683753,1991-05-13,0.0,104.0,Released,Robin Hood,5.7,26.0,"Drama, Action, Romance",NoData,"Westdeutscher Rundfunk (WDR), Working Title Fi...","Canada, Germany, United Kingdom, United States...",English
45462,0,111109,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,0.178241,2011-11-17,0.0,360.0,Released,Century of Birthing,9.0,3.0,Drama,NoData,Sine Olivia,Philippines,
45463,0,67758,Betrayal,"When one of her hits goes wrong, a professiona...",0.903007,2003-08-01,0.0,90.0,Released,Betrayal,3.8,6.0,"Action, Drama, Thriller",NoData,American World Pictures,United States of America,English
45464,0,227506,Satana likuyushchiy,"In a small town live two brothers, one a minis...",0.003503,1917-10-21,0.0,87.0,Released,Satan Triumphant,0.0,0.0,NoData,NoData,Yermoliev,Russia,NoData
45465,0,461257,Queerama,50 years after decriminalisation of homosexual...,0.163015,2017-06-09,0.0,75.0,Released,Queerama,0.0,0.0,NoData,NoData,NoData,United Kingdom,English

> Con Drop de pandas se eliminaron las columnas que no sera de utilidad para las operaciones que se realizaran durante todo el proceso del proyecto

## Verificar como esta quedando el Dataset

In [23]:
# Ver columnas, valores y formato.
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 30494 entries, 0 to 45465
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   budget                      30494 non-null  object
 1   id                          30494 non-null  object
 2   original_title              30494 non-null  object
 3   overview                    29962 non-null  object
 4   popularity                  30492 non-null  object
 5   release_date                30443 non-null  object
 6   revenue                     30492 non-null  float64
 7   runtime                     30351 non-null  float64
 8   status                      30436 non-null  object
 9   title                       30492 non-null  object
 10  vote_average                30492 non-null  float64
 11  vote_count                  30492 non-null  float64
 12  genres_clean                30494 non-null  object
 13  collection_clean            30494 non-null  object
 14  production_companies_clean  30494 non-null  object
 15  production_countries_clean  30494 non-null  object
 16  spoken_languages_clean      30494 non-null  object
dtypes: float64(4), object(13)
memory usage: 4.2+ MB

In [24]:
# Ver valores nulos actuales.
data.isnull().sum().sort_values(ascending=False)

overview                      532
runtime                       143
status                         58
release_date                   51
vote_count                      2
popularity                      2
revenue                         2
vote_average                    2
title                           2
budget                          0
id                              0
original_title                  0
genres_clean                    0
collection_clean                0
production_companies_clean      0
production_countries_clean      0
spoken_languages_clean          0
dtype: int64

## Llenar valores nulos de 'revenue' y 'budget'

In [25]:
# Reemplazar valores nulos con 0
data['revenue'] = data['revenue'].fillna(0)
data['revenue']

0        373554033.0
1        262797249.0
2                0.0
3         81452156.0
4         76578911.0
            ...
45460            0.0
45462            0.0
45463            0.0
45464            0.0
45465            0.0
Name: revenue, Length: 30494, dtype: float64

In [26]:
# Verificar si existen valores nulos.
data['revenue'][data['revenue'].isnull()]

Series([], Name: revenue, dtype: float64)

In [27]:
data= data.dropna()
data

,budget,id,original_title,overview,popularity,release_date,revenue,runtime,status,title,vote_average,vote_count,genres_clean,collection_clean,production_companies_clean,production_countries_clean,spoken_languages_clean
0,30000000,862,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Released,Toy Story,7.7,5415.0,"Animation, Comedy, Family",Toy Story Collection,Pixar Animation Studios,United States of America,English
1,65000000,8844,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,1995-12-15,262797249.0,104.0,Released,Jumanji,6.9,2413.0,"Adventure, Fantasy, Family",NoData,"TriStar Pictures, Teitler Film, Interscope Com...",United States of America,"English, Français"
2,0,15602,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,1995-12-22,0.0,101.0,Released,Grumpier Old Men,6.5,92.0,"Romance, Comedy",Grumpy Old Men Collection,"Warner Bros., Lancaster Gate",United States of America,English
3,16000000,31357,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,1995-12-22,81452156.0,127.0,Released,Waiting to Exhale,6.1,34.0,"Comedy, Drama, Romance",NoData,Twentieth Century Fox Film Corporation,United States of America,English
4,0,11862,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,1995-02-10,76578911.0,106.0,Released,Father of the Bride Part II,5.7,173.0,Comedy,Father of the Bride Collection,"Sandollar Productions, Touchstone Pictures",United States of America,English
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45460,0,30840,Robin Hood,"Yet another version of the classic epic, with ...",5.683753,1991-05-13,0.0,104.0,Released,Robin Hood,5.7,26.0,"Drama, Action, Romance",NoData,"Westdeutscher Rundfunk (WDR), Working Title Fi...","Canada, Germany, United Kingdom, United States...",English
45462,0,111109,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,0.178241,2011-11-17,0.0,360.0,Released,Century of Birthing,9.0,3.0,Drama,NoData,Sine Olivia,Philippines,
45463,0,67758,Betrayal,"When one of her hits goes wrong, a professiona...",0.903007,2003-08-01,0.0,90.0,Released,Betrayal,3.8,6.0,"Action, Drama, Thriller",NoData,American World Pictures,United States of America,English
45464,0,227506,Satana likuyushchiy,"In a small town live two brothers, one a minis...",0.003503,1917-10-21,0.0,87.0,Released,Satan Triumphant,0.0,0.0,NoData,NoData,Yermoliev,Russia,NoData
45465,0,461257,Queerama,50 years after decriminalisation of homosexual...,0.163015,2017-06-09,0.0,75.0,Released,Queerama,0.0,0.0,NoData,NoData,NoData,United Kingdom,English

In [28]:
# castear el tipo de dato a float
data['budget'] = data['budget'].astype('float64')
# Verificar el tipo de dato
type(data['budget'][1])

C:\Users\Rhamer\AppData\Local\Temp\ipykernel_26704\575297242.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['budget'] = data['budget'].astype('float64')

numpy.float64

> Con el fin de poder realizar un calculo entre las columnas de 'revenue' y 'budget' para obtener el retorno de inversion se procedio a convertir los datos a int, normalizar nulos.

## Crear columna 'retorno_de_inversion'

In [29]:
# Crear y calcular columna de retorno de inversion
data.loc[:, 'retorno_de_inversion'] = data.apply(lambda row: row['revenue'] / row['budget'] if row['budget'] != 0 else 0, axis=1)
# Verificar la collumna.
data['retorno_de_inversion']

C:\Users\Rhamer\AppData\Local\Temp\ipykernel_26704\1431156591.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.loc[:, 'retorno_de_inversion'] = data.apply(lambda row: row['revenue'] / row['budget'] if row['budget'] != 0 else 0, axis=1)

0        12.451801
1         4.043035
2         0.000000
3         5.090760
4         0.000000
           ...
45460     0.000000
45462     0.000000
45463     0.000000
45464     0.000000
45465     0.000000
Name: retorno_de_inversion, Length: 29872, dtype: float64

> Mediante la nueva columna se puede visualizar el ROI de las peliculas segun la inversion, exeptuando algunas donde no se tenian los datos completos. <br>
Para ello se utiliza una funcion 'lambda' en la cual se divide el valor tomado de la columna 'revenue' de la fila y el valor de la columna 'budget' de la misma fila y se divide el  valor de 'revenue' entre el valor de 'budget' tomando encuenta que hay algunos valores en 'budget' que tienen valor de cero y no se puede dividir por esta cifra, se condiciona con un 'if else' donde se indica que si el valor de 'budget' es 0 en ese resultado colocar directamente 0

## Eliminar valores nulos de 'release_date'

In [30]:
# Eliminar los datos vacios en la columna release_data.
data= data.dropna(subset=['release_date'])
data

,budget,id,original_title,overview,popularity,release_date,revenue,runtime,status,title,vote_average,vote_count,genres_clean,collection_clean,production_companies_clean,production_countries_clean,spoken_languages_clean,retorno_de_inversion
0,30000000.0,862,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Released,Toy Story,7.7,5415.0,"Animation, Comedy, Family",Toy Story Collection,Pixar Animation Studios,United States of America,English,12.451801
1,65000000.0,8844,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,1995-12-15,262797249.0,104.0,Released,Jumanji,6.9,2413.0,"Adventure, Fantasy, Family",NoData,"TriStar Pictures, Teitler Film, Interscope Com...",United States of America,"English, Français",4.043035
2,0.0,15602,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,1995-12-22,0.0,101.0,Released,Grumpier Old Men,6.5,92.0,"Romance, Comedy",Grumpy Old Men Collection,"Warner Bros., Lancaster Gate",United States of America,English,0.000000
3,16000000.0,31357,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,1995-12-22,81452156.0,127.0,Released,Waiting to Exhale,6.1,34.0,"Comedy, Drama, Romance",NoData,Twentieth Century Fox Film Corporation,United States of America,English,5.090760
4,0.0,11862,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,1995-02-10,76578911.0,106.0,Released,Father of the Bride Part II,5.7,173.0,Comedy,Father of the Bride Collection,"Sandollar Productions, Touchstone Pictures",United States of America,English,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45460,0.0,30840,Robin Hood,"Yet another version of the classic epic, with ...",5.683753,1991-05-13,0.0,104.0,Released,Robin Hood,5.7,26.0,"Drama, Action, Romance",NoData,"Westdeutscher Rundfunk (WDR), Working Title Fi...","Canada, Germany, United Kingdom, United States...",English,0.000000
45462,0.0,111109,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,0.178241,2011-11-17,0.0,360.0,Released,Century of Birthing,9.0,3.0,Drama,NoData,Sine Olivia,Philippines,,0.000000
45463,0.0,67758,Betrayal,"When one of her hits goes wrong, a professiona...",0.903007,2003-08-01,0.0,90.0,Released,Betrayal,3.8,6.0,"Action, Drama, Thriller",NoData,American World Pictures,United States of America,English,0.000000
45464,0.0,227506,Satana likuyushchiy,"In a small town live two brothers, one a minis...",0.003503,1917-10-21,0.0,87.0,Released,Satan Triumphant,0.0,0.0,NoData,NoData,Yermoliev,Russia,NoData,0.000000
45465,0.0,461257,Queerama,50 years after decriminalisation of homosexual...,0.163015,2017-06-09,0.0,75.0,Released,Queerama,0.0,0.0,NoData,NoData,NoData,United Kingdom,English,0.000000

In [31]:
# Verificar valores nulos en las columnas procesadas.
data.isnull().sum().sort_values(ascending=False)

budget                        0
id                            0
original_title                0
overview                      0
popularity                    0
release_date                  0
revenue                       0
runtime                       0
status                        0
title                         0
vote_average                  0
vote_count                    0
genres_clean                  0
collection_clean              0
production_companies_clean    0
production_countries_clean    0
spoken_languages_clean        0
retorno_de_inversion          0
dtype: int64

## Normalizar fecha

In [32]:
# Evaluar la columna 'release_date'
data['release_date']

0        1995-10-30
1        1995-12-15
2        1995-12-22
3        1995-12-22
4        1995-02-10
            ...
45460    1991-05-13
45462    2011-11-17
45463    2003-08-01
45464    1917-10-21
45465    2017-06-09
Name: release_date, Length: 29872, dtype: object

In [33]:
# Cambiar el formato de la columna fecha a tipo date.
data.release_date = pd.to_datetime(data['release_date'], format='%Y-%m-%d', errors='coerce')
data.loc[:, 'release_date'] = pd.to_datetime(data['release_date'], format='%Y-%m-%d', errors='coerce')
data['release_date']

0       1995-10-30
1       1995-12-15
2       1995-12-22
3       1995-12-22
4       1995-02-10
           ...
45460   1991-05-13
45462   2011-11-17
45463   2003-08-01
45464   1917-10-21
45465   2017-06-09
Name: release_date, Length: 29872, dtype: datetime64[ns]

> Para que se pueda guardar correctamente el formato de la fecha y la hora en este punto se procedio a elaborar primero la transformacion con una imagen y luego se procedio a guardarla con 'loc' debido a que pandas nos enviaba un mensaje de advertencia sobre ello y se guardaba con el formato YY-mm-dd hh:mm:ss

## Crear columna 'release_year'

In [34]:
# Crear columna con el año del lanzamiento de la pelicula
data.loc[:, 'release_year'] = data['release_date'].dt.year

In [35]:
# Verificar la columna release_year.
data['release_year']

0        1995
1        1995
2        1995
3        1995
4        1995
         ...
45460    1991
45462    2011
45463    2003
45464    1917
45465    2017
Name: release_year, Length: 29872, dtype: int32

## Eliminar id duplicada

In [36]:
data = data.drop_duplicates(subset=['id'])

In [37]:
data.isnull().sum().sort_values(ascending=False)

budget                        0
id                            0
original_title                0
overview                      0
popularity                    0
release_date                  0
revenue                       0
runtime                       0
status                        0
title                         0
vote_average                  0
vote_count                    0
genres_clean                  0
collection_clean              0
production_companies_clean    0
production_countries_clean    0
spoken_languages_clean        0
retorno_de_inversion          0
release_year                  0
dtype: int64

In [38]:
# Dataframe completo.
data

,budget,id,original_title,overview,popularity,release_date,revenue,runtime,status,title,vote_average,vote_count,genres_clean,collection_clean,production_companies_clean,production_countries_clean,spoken_languages_clean,retorno_de_inversion,release_year
0,30000000.0,862,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Released,Toy Story,7.7,5415.0,"Animation, Comedy, Family",Toy Story Collection,Pixar Animation Studios,United States of America,English,12.451801,1995
1,65000000.0,8844,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,1995-12-15,262797249.0,104.0,Released,Jumanji,6.9,2413.0,"Adventure, Fantasy, Family",NoData,"TriStar Pictures, Teitler Film, Interscope Com...",United States of America,"English, Français",4.043035,1995
2,0.0,15602,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,1995-12-22,0.0,101.0,Released,Grumpier Old Men,6.5,92.0,"Romance, Comedy",Grumpy Old Men Collection,"Warner Bros., Lancaster Gate",United States of America,English,0.000000,1995
3,16000000.0,31357,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,1995-12-22,81452156.0,127.0,Released,Waiting to Exhale,6.1,34.0,"Comedy, Drama, Romance",NoData,Twentieth Century Fox Film Corporation,United States of America,English,5.090760,1995
4,0.0,11862,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,1995-02-10,76578911.0,106.0,Released,Father of the Bride Part II,5.7,173.0,Comedy,Father of the Bride Collection,"Sandollar Productions, Touchstone Pictures",United States of America,English,0.000000,1995
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45460,0.0,30840,Robin Hood,"Yet another version of the classic epic, with ...",5.683753,1991-05-13,0.0,104.0,Released,Robin Hood,5.7,26.0,"Drama, Action, Romance",NoData,"Westdeutscher Rundfunk (WDR), Working Title Fi...","Canada, Germany, United Kingdom, United States...",English,0.000000,1991
45462,0.0,111109,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,0.178241,2011-11-17,0.0,360.0,Released,Century of Birthing,9.0,3.0,Drama,NoData,Sine Olivia,Philippines,,0.000000,2011
45463,0.0,67758,Betrayal,"When one of her hits goes wrong, a professiona...",0.903007,2003-08-01,0.0,90.0,Released,Betrayal,3.8,6.0,"Action, Drama, Thriller",NoData,American World Pictures,United States of America,English,0.000000,2003
45464,0.0,227506,Satana likuyushchiy,"In a small town live two brothers, one a minis...",0.003503,1917-10-21,0.0,87.0,Released,Satan Triumphant,0.0,0.0,NoData,NoData,Yermoliev,Russia,NoData,0.000000,1917
45465,0.0,461257,Queerama,50 years after decriminalisation of homosexual...,0.163015,2017-06-09,0.0,75.0,Released,Queerama,0.0,0.0,NoData,NoData,NoData,United Kingdom,English,0.000000,2017

<p>Con esto se daria por terminado el proceso de ETL de todo el conjunto de datos hasta este punto. quedando un con junto de datos de 44264 filas 21 </p>

In [60]:
data['id'] = data['id'].astype('int64')
data['popularity'] = data['popularity'].astype('float64')

C:\Users\Rhamer\AppData\Local\Temp\ipykernel_26704\2132061422.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['id'] = data['id'].astype('int64')
C:\Users\Rhamer\AppData\Local\Temp\ipykernel_26704\2132061422.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['popularity'] = data['popularity'].astype('float64')

In [40]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 29862 entries, 0 to 45465
Data columns (total 19 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   budget                      29862 non-null  float64
 1   id                          29862 non-null  int64
 2   original_title              29862 non-null  object
 3   overview                    29862 non-null  object
 4   popularity                  29862 non-null  object
 5   release_date                29862 non-null  datetime64[ns]
 6   revenue                     29862 non-null  float64
 7   runtime                     29862 non-null  float64
 8   status                      29862 non-null  object
 9   title                       29862 non-null  object
 10  vote_average                29862 non-null  float64
 11  vote_count                  29862 non-null  float64
 12  genres_clean                29862 non-null  object
 13  collection_clean            29862 non-null  object
 14  production_companies_clean  29862 non-null  object
 15  production_countries_clean  29862 non-null  object
 16  spoken_languages_clean      29862 non-null  object
 17  retorno_de_inversion        29862 non-null  float64
 18  release_year                29862 non-null  int32
dtypes: datetime64[ns](1), float64(6), int32(1), int64(1), object(10)
memory usage: 4.4+ MB

## Conectar a la base de datos.

In [58]:
# Crear la conexión con la base de datos
engine = create_engine('mysql+pymysql://root:root@localhost/movies')

In [59]:
data.to_sql('movie', engine, if_exists='replace', index=False)

InternalError: (pymysql.err.InternalError) Packet sequence number wrong - got 80 expected 0
(Background on this error at: https://sqlalche.me/e/20/2j85)

In [43]:
df = pd.read_sql_table('movie', engine)

In [44]:
df

,budget,id,original_title,overview,popularity,release_date,revenue,runtime,status,title,vote_average,vote_count,genres_clean,collection_clean,production_companies_clean,production_countries_clean,spoken_languages_clean,retorno_de_inversion,release_year
0,30000000.0,862,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Released,Toy Story,7.7,5415.0,"Animation, Comedy, Family",Toy Story Collection,Pixar Animation Studios,United States of America,English,12.451801,1995
1,65000000.0,8844,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,1995-12-15,262797249.0,104.0,Released,Jumanji,6.9,2413.0,"Adventure, Fantasy, Family",NoData,"TriStar Pictures, Teitler Film, Interscope Com...",United States of America,"English, Français",4.043035,1995
2,0.0,15602,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,1995-12-22,0.0,101.0,Released,Grumpier Old Men,6.5,92.0,"Romance, Comedy",Grumpy Old Men Collection,"Warner Bros., Lancaster Gate",United States of America,English,0.000000,1995
3,16000000.0,31357,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,1995-12-22,81452156.0,127.0,Released,Waiting to Exhale,6.1,34.0,"Comedy, Drama, Romance",NoData,Twentieth Century Fox Film Corporation,United States of America,English,5.090760,1995
4,0.0,11862,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,1995-02-10,76578911.0,106.0,Released,Father of the Bride Part II,5.7,173.0,Comedy,Father of the Bride Collection,"Sandollar Productions, Touchstone Pictures",United States of America,English,0.000000,1995
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29857,0.0,30840,Robin Hood,"Yet another version of the classic epic, with ...",5.683753,1991-05-13,0.0,104.0,Released,Robin Hood,5.7,26.0,"Drama, Action, Romance",NoData,"Westdeutscher Rundfunk (WDR), Working Title Fi...","Canada, Germany, United Kingdom, United States...",English,0.000000,1991
29858,0.0,111109,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,0.178241,2011-11-17,0.0,360.0,Released,Century of Birthing,9.0,3.0,Drama,NoData,Sine Olivia,Philippines,,0.000000,2011
29859,0.0,67758,Betrayal,"When one of her hits goes wrong, a professiona...",0.903007,2003-08-01,0.0,90.0,Released,Betrayal,3.8,6.0,"Action, Drama, Thriller",NoData,American World Pictures,United States of America,English,0.000000,2003
29860,0.0,227506,Satana likuyushchiy,"In a small town live two brothers, one a minis...",0.003503,1917-10-21,0.0,87.0,Released,Satan Triumphant,0.0,0.0,NoData,NoData,Yermoliev,Russia,NoData,0.000000,1917
29861,0.0,461257,Queerama,50 years after decriminalisation of homosexual...,0.163015,2017-06-09,0.0,75.0,Released,Queerama,0.0,0.0,NoData,NoData,NoData,United Kingdom,English,0.000000,2017

In [45]:
da = df[df['id'] == 2]
da

,budget,id,original_title,overview,popularity,release_date,revenue,runtime,status,title,vote_average,vote_count,genres_clean,collection_clean,production_companies_clean,production_countries_clean,spoken_languages_clean,retorno_de_inversion,release_year
3352,0.0,2,Ariel,Taisto Kasurinen is a Finnish coal miner whose...,3.860491,1988-10-21,0.0,69.0,Released,Ariel,7.1,44.0,"Drama, Crime",NoData,"Villealfa Filmproduction Oy, Finnish Film Foun...",Finland,"suomi, Deutsch",0.0,1988

In [46]:
df

,budget,id,original_title,overview,popularity,release_date,revenue,runtime,status,title,vote_average,vote_count,genres_clean,collection_clean,production_companies_clean,production_countries_clean,spoken_languages_clean,retorno_de_inversion,release_year
0,30000000.0,862,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Released,Toy Story,7.7,5415.0,"Animation, Comedy, Family",Toy Story Collection,Pixar Animation Studios,United States of America,English,12.451801,1995
1,65000000.0,8844,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,1995-12-15,262797249.0,104.0,Released,Jumanji,6.9,2413.0,"Adventure, Fantasy, Family",NoData,"TriStar Pictures, Teitler Film, Interscope Com...",United States of America,"English, Français",4.043035,1995
2,0.0,15602,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,1995-12-22,0.0,101.0,Released,Grumpier Old Men,6.5,92.0,"Romance, Comedy",Grumpy Old Men Collection,"Warner Bros., Lancaster Gate",United States of America,English,0.000000,1995
3,16000000.0,31357,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,1995-12-22,81452156.0,127.0,Released,Waiting to Exhale,6.1,34.0,"Comedy, Drama, Romance",NoData,Twentieth Century Fox Film Corporation,United States of America,English,5.090760,1995
4,0.0,11862,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,1995-02-10,76578911.0,106.0,Released,Father of the Bride Part II,5.7,173.0,Comedy,Father of the Bride Collection,"Sandollar Productions, Touchstone Pictures",United States of America,English,0.000000,1995
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29857,0.0,30840,Robin Hood,"Yet another version of the classic epic, with ...",5.683753,1991-05-13,0.0,104.0,Released,Robin Hood,5.7,26.0,"Drama, Action, Romance",NoData,"Westdeutscher Rundfunk (WDR), Working Title Fi...","Canada, Germany, United Kingdom, United States...",English,0.000000,1991
29858,0.0,111109,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,0.178241,2011-11-17,0.0,360.0,Released,Century of Birthing,9.0,3.0,Drama,NoData,Sine Olivia,Philippines,,0.000000,2011
29859,0.0,67758,Betrayal,"When one of her hits goes wrong, a professiona...",0.903007,2003-08-01,0.0,90.0,Released,Betrayal,3.8,6.0,"Action, Drama, Thriller",NoData,American World Pictures,United States of America,English,0.000000,2003
29860,0.0,227506,Satana likuyushchiy,"In a small town live two brothers, one a minis...",0.003503,1917-10-21,0.0,87.0,Released,Satan Triumphant,0.0,0.0,NoData,NoData,Yermoliev,Russia,NoData,0.000000,1917
29861,0.0,461257,Queerama,50 years after decriminalisation of homosexual...,0.163015,2017-06-09,0.0,75.0,Released,Queerama,0.0,0.0,NoData,NoData,NoData,United Kingdom,English,0.000000,2017

In [47]:
directores_df.to_sql('director', engine, if_exists='replace', index=False)

41551

In [48]:
director_db = pd.read_sql_table('director', engine)
director_db

                   name  pelicula_id
0         John Lasseter          862
1          Joe Johnston         8844
2         Howard Deutch        15602
3       Forest Whitaker        31357
4         Charles Shyer        11862
...                 ...          ...
41546        John Irvin        30840
41547  Hamid Nematollah       439050
41548          Lav Diaz       111109
41549  Yakov Protazanov       227506
41550     Daisy Asquith       461257

[41551 rows x 2 columns]

In [49]:
nombres_df.to_sql('actor', engine, if_exists='replace', index=False)

499102

In [50]:
actors = pd.read_sql_table('actor', engine)

In [51]:
actors

                     name  pelicula_id
0               Tom Hanks          862
1               Tim Allen          862
2             Don Rickles          862
3              Jim Varney          862
4           Wallace Shawn          862
...                   ...          ...
499097   Iwan Mosschuchin       227506
499098  Nathalie Lissenko       227506
499099       Pavel Pavlov       227506
499100  Aleksandr Chabrov       227506
499101        Vera Orlova       227506

[499102 rows x 2 columns]